@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.cl-socialButtonsProviderIcon__github {
  filter: invert(1);
}

.cl-socialButtonsIconButton {
  background-color: #252a41;
}

.cl-userButtonPopoverCard {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cl-userButtonPopoverActionButton {
  color: #ffffff;
}

.cl-badge {
  color: #ffffff;
}

.cl-navbarButton {
  color: #ffffff;
}

.cl-formFieldInputShowPasswordButton {
  color: #ffffff;
}

.cl-avatarImageActionsUpload {
  color: #ffffff;
}

.str-video__menu-container {
  background-color: #252a41 !important;
  color: #ffffff !important;
}

.str-video__device-settings__device-kind .str-video__option--selected,
.str-video__device-settings__device-kind .str-video__option--active,
.str-video__device-settings__device-kind
  .str-video__device-settings__option--selected,
.str-video__device-settings__device-kind
  .str-video__device-settings__option--active {
  background-color: #1c1f2e !important;
}

.str-video__device-settings__device-kind .str-video__option,
.str-video__device-settings__device-kind .str-video__device-settings__option {
  background-color: #161925;
}
.str-video__video-preview-container {
  width: 100% !important;
  max-width: 500px !important;
}

.str-video__menu-container {
  left: 0;
  right: 0;
  margin: 0 5px;
  max-width: 800px;
}

.str-video__menu-container {
  width: fit-content;
}

.str-video__call-controls {
  flex-wrap: wrap;
}

.str-video__speaker-layout {
  justify-content: unset;
}

.str-video__participant-details .str-video__participant-details__name {
  color: #ffffff;
}
